  <div class="w3-content w3-panel w3-pale-blue w3-leftbar w3-border-blue" style="width:100%">
    <p><span class="w3-large">Fiches requises</span><ul class="w3-ul w3-card-4 w3-blue w3-hoverable" style="width:100%">%elements%</ul></p>
  </div> 