<div class="w3-card-2">
  <div class="w3-container w3-leftbar w3-sand w3-large w3-serif">
    <img src="%rootpath%/Images/guy.svg" alt="Question guy" class="w3-left" style="width:9%;">
    <p class="w3-large"><i>%content%</i></p>
  </div>
</div> 